**/__pycache__/
**/.pylint.d/
tests/reports/
**/htmlcov/
**/.coverage

#profiler
**/*.Result
logs/

venv/
**/*.egg-info
.vscode/

#contains creative commons images of chess pieces
media/images/
board.png
